 body {
  height: 100%;
  background-color: #513AA8;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#headerBox {
  margin: 10px;
  padding: 1px;
  text-align: center;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p {
  color: #000000;
  margin: 10px;
  font-family: sans-serif;
}

.blogBox {
  display: flex;
  justify-content: center;
  border: 2px solid #000000;
  border-radius: 5px;
  margin-top: 3%;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  background-color: #ffffff;
  box-shadow: 5px 5px #000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin: 10px;
  text-shadow: 2px 2px #ffffff;
}

h2 {
  margin: 10px;
}

#menuBox {
  border: 2px solid #000000;
  border-radius: 5px;
  display: flex;
  justify-content: space-around; 
  justify-content: center;
  flex-direction: row;
  margin: 10px;
  padding: 1%;
  font-family: sans-serif;
  background-color: #ffffff;
  box-shadow: 5px 5px #000000;
  position: sticky;
  opacity: .75;
  top: 0;
}

.linkBox {
  border: 2px solid #000000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1%;
  margin: 1%;
  font-family: sans-serif;
  color: #000000;
  box-shadow: 2px 2px #000000;
}

.linkBox:hover {
  background-color: #adacb0;
}

a:link, a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
}

a:active {
  color: #ffffff;
}

.lilpic {
  padding: 1%;
}
.gameBox {
  display: flex;
  justify-content: center;
  border: 2px solid #000000;
  border-radius: 5px;
  margin-top: 3%;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  background-color: #ffffff;
  box-shadow: 5px 5px #000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #200753;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}