body {
  height: 100%;
  background-color: blueviolet;
}

#content {
  margin: 0px 300px;
  float:none;
}

#headerBox {
  margin: 10px;
  padding: 1px;
  text-align: center;
  font-family: sans-serif;
}

p {
  color: #000000;
  margin: 10px;
  font-family: sans-serif;
}

.blogBox {
  border: 2px solid #000000;
  border-radius: 5px;
  margin: 10px 150px;
  padding: 10px;
  background-color: #ffffff;
}

h1 {
  margin: 10px;
}

h2 {
  margin: 10px;
}

#menuBox {
  border: 2px solid #000000;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
  background-color: #ffffff;
}

.linkBox {
  border: 2px solid #000000;
  border-radius: 5px;
  display: inline;
  padding: 10px;
  font-family: sans-serif;
  color: #000000;
}

.linkBox:hover {
  background-color: #adacb0;
}

a:link, a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
}

a:active {
  color: #ffffff;
}

img {
  margin:0px;
}
